<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee   
	                    http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	<servlet>
		<servlet-name>BoardList</servlet-name>
		<servlet-class>com.min.edu.controller.FileBoardList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardList</servlet-name>
		<url-pattern>/fileBoardList.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FileBoardWrite</servlet-name>
		<servlet-class>com.min.edu.controller.FileBoardWrite</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileBoardWrite</servlet-name>
		<url-pattern>/fileBoardWrite.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FileBoardDetail</servlet-name>
		<servlet-class>com.min.edu.controller.FileBoardDetail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileBoardDetail</servlet-name>
		<url-pattern>/fileBoardDetail.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FileDownload</servlet-name>
		<servlet-class>com.min.edu.controller.FileDownload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileDownload</servlet-name>
		<url-pattern>/fileDownload.do</url-pattern>
	</servlet-mapping>
	
	

</web-app>
